<!DOCTYPE html>
<html>
  <head>

    <title>Blog2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
       <nav class="navbar navbar-custom" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/articles">Articles</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/articles/new">New</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/about">About us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <h4 class="navbar-text"><b>Hello <%= current_user.username.capitalize %>!!!</b></h4>
             <li><%=  link_to 'Sign_out?', destroy_user_session_path, method: 'delete' %></li>
               
                <% else %>
               <li> <%= link_to 'Sign_in', new_user_session_path %> </li>
                <% end %>
             
          </ul>
         </p>
        </div><!--/.nav-collapse -->
      </nav>


           <p class="notice"><%= notice %></p> 
           <p class="alert"><%= alert %></p> 

          <h4 style="color: red">
          <%= flash.now[:error] %>
           </h4>
         

              <%= yield %>
     
          
           
    </div>
      </div>
    </div>
  </body>
</html>
